.video__iframes {
  width: 1050px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  position: relative;
  top: 50px;
}
